<!DOCTYPE html>
<head>

<meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"/>
   <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script> 
</head>

<body>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div data-role="collapsible-set" data-theme="b" data-content-theme="b">
		<div data-role = "collapsible">
			
			<h3>레스토랑 정보</h3>
			<form name="restaurant" method="post" action="/Ow_Rg_01_Success">
			 상호명 : <input type="text" name="restaurant_name" ><br/>
				오픈시간 : <input type="text" name="restaurant_opening_time" ><br/>
				마감시간 : <input type="text" name="restaurant_closing_time" ><br/>
				휴무일 : <input type="text" name="holiday_date" ><br/>
				업종 : <input type="text" name="restaurant_type" ><br/>
				주소 : <input type="text" name="restaurant_address" ><br/>
				전화번호 : <input type="text" name="restaurant_tel" ><br/>
				소개 : <input type="text" name="return" ><br/>
				대표사진 :<input type="file" name="return"><br/>
				
				<button type="submit">저장</button>
				<button type="reset" name="return" >취소</button><br/>
				</form>
		</div>
		<div data-role = "collapsible">
			<h3>메뉴등록</h3>
			<b> 메뉴판 등록 </b> : 
				<input type="file" name="return" id="name"><br/>
			<b>Deposit 규정등록 :</b><br/>
			총 주문가격의 <input type=text" name="return id="deposit">%<br/>
			고객이 메뉴 선택하지 않을 시 인원수 x <input type=text" name="return id="deposit">원<br/>
			<button type="submit">저장</button>
				<button type="reset" name="return" >취소</button><br/>
		</div>
		
		<div data-role = "collapsible">
			<h3>파일</h3>
			<form action="/photo" method="post" enctype="multipart/form-data">
			<b> 사진 등록 </b> : 
					<input type="file" name="userPhoto" multiple><br/>
			<input type="submit" value="upload">
			<button type="reset" name="return" >취소</button><br/>
		</form>
		</div>
	</div>		
</body>
</html>